{{!-- <p>hi{{@root.title}}</p> --}}



<div onclick="myGreatFunction({{{json this }}})" class="img-card flex-item" style="position: relative;">

    <div class="fill">

        <img src={{randomize-img "https://source.unsplash.com/random?water=" }} />
    </div>

    <div class="card-footer">
        <i class="fas fa-heart"></i>
        <i class="fas fa-share-square"></i>
    </div>

</div>