{{!-- <p>hi{{@root.title}}</p> --}}



<div class="img-card flex-item" style="position: relative;">
    <img style="max-width: 100%" />

    <div class="card-footer" >
        <i class="fas fa-heart"></i>
        <i class="fas fa-share-square"></i>
    </div>

</div>