{{!-- <p>hi{{@root.title}}</p> --}}



<div class="img-card flex-item">
    <img style="max-width: 100%" />

    <div style="color: white;  position: relative;
  bottom: 4px;
  left: 0;">
        <i class="fas fa-heart"></i>
        <i class="fas fa-share-square"></i>
    </div>

</div>