// first scss file

$font-stack: Helvetica, sans-serif;
$primary-color: #560650;

body {
  font: 100% $font-stack;
  // color: $primary-color;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  offset: 50px;
  padding: 1%;
}

.flex-container {
  display: flex;
  // flex-wrap: wrap;
  // flex-direction: row;
  flex-flow: row wrap;
  align-items: flex-start;

  justify-content: center;
  // font-size: 30px;
  // text-align: center;
}

.card-footer {
  color: white;
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding: 4px;
}

.fill {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
// .fill img {
//   flex-shrink:0;
//   min-width:100%;
//   min-height:100%
// }

.img-card {
  margin: 5px;
  border-radius: 2%;
  width: 300px;

  img {
    border-radius: 4px;
    max-width: 300px;
  }
  // height: 200px;
  // background-color: aliceblue;
  // background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  background-repeat: no-repeat;
  // width: 15vw;
  cursor: zoom-in;
}

.img-card:hover {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.5)
  );
}

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
//   .flex-item {
//     flex-basis: 100%;
//   }
// }

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
//   .flex-item {
//     flex-basis: 50%;
//   }
// }

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
//   .flex-item {
//     flex-basis: 33.3%;
//   }
// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
//   .flex-item {
//     flex-basis: 25%;
//   }
// }

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
//   .flex-item {
//     flex-basis: 20%;
//     // flex: 1;
//   }
// }

// * {
//   box-sizing: border-box;
// }

#img-details {
  display: flex;
  width: 100%;
  padding: 1%;
  justify-items: center;
  background-color: antiquewhite;
  border-radius: 4px;
  max-height: 50vh;
  img {
    max-height: 100%;
  }
 
}

// .img-zoom-container {
//   position: relative;
// }

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 400px;
  height: 400px;
}
