body {
  font: 100% Helvetica, sans-serif; }

img {
  max-width: 100%;
  max-height: 100%; }

.container {
  offset: 50px;
  padding: 1%; }

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center; }

.card-footer {
  color: white;
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding: 4px; }

.fill {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.img-card {
  margin: 5px;
  border-radius: 2%;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: zoom-in; }
  .img-card img {
    border-radius: 4px;
    max-width: 300px; }

.img-card:hover {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)); }

#img-details {
  display: flex;
  width: 100%;
  padding: 1%;
  justify-items: center;
  background-color: antiquewhite;
  border-radius: 4px;
  max-height: 50vh; }
  #img-details img {
    max-height: 100%; }

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px; }

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 400px;
  height: 400px; }

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative; }

.nav > .nav-header {
  display: inline; }

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px; }

.nav > .nav-btn {
  display: none; }

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px; }

.nav .nav-links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef; }

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3); }

.nav > #nav-check {
  display: none; }

@media (max-width: 600px) {
  .nav .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px; }
  .nav .nav-btn label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px; }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3); }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee; }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px; }
  .nav > .nav-links > a {
    display: block;
    width: 100%; }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px; }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto; } }

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite; }

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=main.css.map */