

  {{!-- {{#title}}
  <h1>hello {{this}}</h1>
  {{/title}}

  {{^title}}
  not avalable
  {{/title}} --}}

  {{!-- <div class="body ">{{message }}</div> --}}
  {{!-- {{capitablize 'hi'}} --}}
  {{!-- {{#each studentArray}} {{> card}} {{/each}} --}}
<div class="flex-container">
  {{hellomsg}}

  {{#each photos}} {{> card imgSrc=this.url}} {{/each}}
</div>


