<div id="img-details">
    <div class="fill" style="flex: 1; width:400px">
        <img id="myimage" src="https://source.unsplash.com/random">
    </div>
    <div style="flex: 1; ">
        <div id="myresult" class="img-zoom-result"></div>
    </div>
</div>